<div class="row">
  <div class="row">
    <span *ngFor="let spawnerType of spawnerTypes" (click)="toggleSpawners(spawnerType)">
      <div class="spawnerSlot">
      <div *ngIf="!spawnerByType(spawnerType)">  {{spawnerType}}</div>
      <div *ngIf="spawnerByType(spawnerType)"><spawner [spawner]="spawnerByType(spawnerType)"></spawner></div>
      </div>
    </span>
  </div>

  <div *ngIf="selectedSpawners">
    Choose between:
    <div *ngFor="let spawner of selectedSpawners" class="spawnerDisplay">
      <spawner [spawner]="spawner"></spawner>
    </div>
  </div>
</div>
