<div class="row">
  <div class="row">
    <span *ngFor="let spawnerType of spawnerTypes" (click)="toggleSpawners(spawnerType)">
      <div class="spawnerSlot">
        {{spawnerType}}
      </div>
    </span>
  </div>

  <div *ngIf="selectedSpawners">
    Choose between:
    <div *ngFor="let spawner of selectedSpawners" class="spawnerDisplay">
      <div *ngIf="spawner.avatar"><img src="../../assets/icons/{{spawner.avatar}}" width="64px;"/></div>
      <div class="spawnerName">{{spawner.name}}</div>
      <div class="spawnerPrice">
        {{convertToCost(spawner)}}
      </div>
      <div>Owned: {{owned(spawner)}}</div>
      <div>MPS: {{mps(spawner)}}</div>
      <div><input type="button" (click)="purchase(spawner)" [disabled]="canAfford(spawner)" value="Purchase"></div>
    </div>
  </div>
</div>
