.shop-item {
border: 1px solid lightgray;
  margin: 2px;
}

.spawnerSlot {
  width: 200px;
  height: 200px;
  border: solid 1px lightblue;
  float: left;
  margin: 4px;
}
.spawnerDisplay {
  width: 200px;
  height: 200px;
  border: solid 1px lightgray;
  float: left;
  margin: 4px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(46,46,46,0.57);
  -moz-box-shadow: 1px 1px 2px 0px rgba(46,46,46,0.57);
  box-shadow: 1px 1px 2px 0px rgba(46,46,46,0.57);
}
